[Desktop Entry]
Type=Application
Version=1.0
Name=UWSDR
Categories=Network;HamRadio
Comment=UWSDR GUI
Icon=UWSDR.png
Exec=/usr/bin/UWSDR
Terminal=false
